body{
    background-color: #1e1e1e;
}

h1{
    color: #fff;
    padding: 3rem;
    font-size:50px;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

img{
    width: 212px;
    height: 470px;
}
#error{
    position: absolute;
    word-wrap: break-word;
    width: 400px;

}
.ponto{
    color: #0073b0;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    right: 19px;
}

.principal{
    display: flex;
    flex-direction: row;
    padding: 50px;

}

.img2, .img3{
    position: relative;
}

.img2{
    right: 40px;
}

.img3{
    right: 80px;
}

.div-form{
    background-color: #f9f9fb;
    width: 470px;
    height: 425px;
    border-radius: 4px;
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

hr{
    width: 124px;
}

p{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

input{
    width: 400px;
    height: 48px;
    background-color: rgba(113, 128, 185, 0.32);
    border: none;
    margin: 10px;
    border-radius: 4px;
}

button{
    width: 400px;
    height: 48px;
    text-align: center;
    background-color: #7180B9;
    color: #000;
    border: none;
    margin: 10px;
    border-radius: 4px;
}

.form3{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}

.btn2{
    width: 244px;
    height: 48px;

}

.link{
    text-decoration: none;
    color: #000;
}

.pbtn{
    font-size: 20px;
    padding-right: 10px;
}



